#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: left;
}

table {
  margin: auto;
  width: 100%; 
  max-width: 30vw; 
  border-collapse: collapse;
}

th, td {
  padding: 10px; 
}

table, th, td {
  border: 1px solid black; 
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff; 
  text-decoration: none; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

.button-link:hover {
  background-color: #0056b3;
}


@media only screen and (max-width: 600px) {
  table {
    max-width: 100%; 
  }
}

.answer {
  color:greenyellow;
}

.wrongAnswer {
  color: red;
}

.table-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.row {
  display: flex;
}

.cell {
  padding: 8px;
  border: 1px solid #ccc;
  width: 90px;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000; 
  border-bottom: 1px solid #ccc; 
}

.grey {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a2b2c3;
  color: #fff; 
  text-decoration: none; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

